In [72]:
import pandas as pd

In [73]:
aust_hd_rates= pd.read_csv("Strategic_Measure_Percentage_of_residents_with_cardiovascular_disease.csv")

In [74]:
aust_hd_rates

   Date_Time  Year  Percent
0       2020  2020    0.071
1       2014  2014    0.044
2       2015  2015    0.049
3       2016  2016    0.062
4       2017  2017    0.062
5       2018  2018    0.070
6       2019  2019    0.047
7       2021  2021    0.051

In [75]:
clean_df = aust_hd_rates.drop(['Date_Time'], axis=1)

In [76]:
clean_df.to_csv('Austin_Cardivascular_Disease_Rates.csv')

In [77]:
hd_mortality= pd.read_csv("Heart_Disease_Mortality_Data_Among_US_Adults__35___by_State_Territory_and_County___2018-2020.csv")

In [78]:
hd_mortality

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Y_lat,X_lon
0,2019,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,182.4,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,55.442393,-161.959930
1,2019,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,172.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,53.648343,-166.917533
2,2019,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,255.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,61.159145,-149.104559
3,2019,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,343.4,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,60.923648,-159.753262
4,2019,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,58.753496,-156.694662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59089,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Male,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.998400,-107.552000
59090,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Female,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.998400,-107.552000
59091,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,338.4,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.998400,-107.552000
59092,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,432.2,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.998400,-107.552000
59093,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Female,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.998400,-107.552000

In [79]:
filtered_by_state=hd_mortality[hd_mortality['GeographicLevel']=='State']

In [80]:
filtered_by_state

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Y_lat,X_lon
522,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.7,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2,64.3173,-152.571
523,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,327.1,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,Overall,T2,2,64.3173,-152.571
524,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,192.1,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Female,Race/Ethnicity,Overall,T2,2,64.3173,-152.571
525,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,239.3,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,White,T2,2,64.3173,-152.571
526,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,300.8,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,White,T2,2,64.3173,-152.571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59089,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Male,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.9984,-107.552
59090,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Female,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.9984,-107.552
59091,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,338.4,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.9984,-107.552
59092,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,432.2,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.9984,-107.552
59093,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Female,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.9984,-107.552

In [81]:
filtered2 = filtered_by_state[filtered_by_state['Stratification1']=='Overall']

In [82]:
filtered2

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Y_lat,X_lon
522,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.7,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2,64.3173,-152.571
525,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,239.3,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,White,T2,2,64.3173,-152.571
528,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,300.2,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Black,T2,2,64.3173,-152.571
531,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,161.9,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Hispanic,T2,2,64.3173,-152.571
534,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,173.0,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Asian and Pacific Islander,T2,2,64.3173,-152.571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59079,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,306.9,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,White,T2,56,42.9984,-107.552
59082,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,281.0,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Black,T2,56,42.9984,-107.552
59085,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,194.9,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,Hispanic,T2,56,42.9984,-107.552
59088,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.9984,-107.552
59091,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,338.4,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Overall,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.9984,-107.552

In [83]:
columns_to_drop = ['GeographicLevel','LocationAbbr', 'DataSource', 'Data_Value_Footnote_Symbol','Data_Value_Footnote','StratificationCategory1','StratificationCategory2','TopicID','LocationID','Data_Value_Type','Data_Value_Unit','Class','Topic']

In [84]:
clean_df=filtered2.drop(columns=columns_to_drop)

In [85]:
clean_df

,Year,LocationDesc,Data_Value,Stratification1,Stratification2,Y_lat,X_lon
522,2019,Alaska,257.7,Overall,Overall,64.3173,-152.571
525,2019,Alaska,239.3,Overall,White,64.3173,-152.571
528,2019,Alaska,300.2,Overall,Black,64.3173,-152.571
531,2019,Alaska,161.9,Overall,Hispanic,64.3173,-152.571
534,2019,Alaska,173.0,Overall,Asian and Pacific Islander,64.3173,-152.571
...,...,...,...,...,...,...,...
59079,2019,Wyoming,306.9,Overall,White,42.9984,-107.552
59082,2019,Wyoming,281.0,Overall,Black,42.9984,-107.552
59085,2019,Wyoming,194.9,Overall,Hispanic,42.9984,-107.552
59088,2019,Wyoming,NaN,Overall,Asian and Pacific Islander,42.9984,-107.552
59091,2019,Wyoming,338.4,Overall,American Indian and Alaskan Native,42.9984,-107.552

In [86]:
rename_columns={'Stratification1': 'Gender', 'Stratification2': 'Ethnicity','LocationDesc':'State','Data_Value':'Cases per 100,000'}

In [87]:
clean_df.rename(columns=rename_columns, inplace = True)

In [88]:
clean_df
#non gender specific

,Year,State,"Cases per 100,000",Gender,Ethnicity,Y_lat,X_lon
522,2019,Alaska,257.7,Overall,Overall,64.3173,-152.571
525,2019,Alaska,239.3,Overall,White,64.3173,-152.571
528,2019,Alaska,300.2,Overall,Black,64.3173,-152.571
531,2019,Alaska,161.9,Overall,Hispanic,64.3173,-152.571
534,2019,Alaska,173.0,Overall,Asian and Pacific Islander,64.3173,-152.571
...,...,...,...,...,...,...,...
59079,2019,Wyoming,306.9,Overall,White,42.9984,-107.552
59082,2019,Wyoming,281.0,Overall,Black,42.9984,-107.552
59085,2019,Wyoming,194.9,Overall,Hispanic,42.9984,-107.552
59088,2019,Wyoming,NaN,Overall,Asian and Pacific Islander,42.9984,-107.552
59091,2019,Wyoming,338.4,Overall,American Indian and Alaskan Native,42.9984,-107.552

In [89]:
hd_mortality_white =clean_df[clean_df['Ethnicity']=='White']

In [90]:
hd_mortality_white.head()
#Heart Disease mortality amongst white population

,Year,State,"Cases per 100,000",Gender,Ethnicity,Y_lat,X_lon
525,2019,Alaska,239.3,Overall,White,64.3173,-152.5710
1749,2019,Alabama,433.5,Overall,White,32.7949,-86.8267
3117,2019,Arkansas,435.2,Overall,White,34.8982,-92.4340
3153,2019,American Samoa,NaN,Overall,White,-14.2766,-170.3670
3441,2019,Arizona,277.4,Overall,White,34.2921,-111.6640

In [91]:
hd_mortality_white.to_csv('HD_mortality_White_Pop.csv')

In [92]:
hd_mortality_Black =clean_df[clean_df['Ethnicity']=='Black']

In [93]:
hd_mortality_Black.head()
#heart disease mortality amongst black population

,Year,State,"Cases per 100,000",Gender,Ethnicity,Y_lat,X_lon
528,2019,Alaska,300.2,Overall,Black,64.3173,-152.5710
1752,2019,Alabama,490.0,Overall,Black,32.7949,-86.8267
3120,2019,Arkansas,472.4,Overall,Black,34.8982,-92.4340
3156,2019,American Samoa,NaN,Overall,Black,-14.2766,-170.3670
3444,2019,Arizona,347.0,Overall,Black,34.2921,-111.6640

In [94]:
hd_mortality_Black.to_csv('HD_mortality_Black_Pop.csv')

In [95]:
hd_mortality_Hispanic = clean_df[clean_df['Ethnicity']=='Hispanic']

In [96]:
hd_mortality_Hispanic.head()

,Year,State,"Cases per 100,000",Gender,Ethnicity,Y_lat,X_lon
531,2019,Alaska,161.9,Overall,Hispanic,64.3173,-152.5710
1755,2019,Alabama,112.1,Overall,Hispanic,32.7949,-86.8267
3123,2019,Arkansas,162.2,Overall,Hispanic,34.8982,-92.4340
3159,2019,American Samoa,NaN,Overall,Hispanic,-14.2766,-170.3670
3447,2019,Arizona,220.7,Overall,Hispanic,34.2921,-111.6640

In [97]:
hd_mortality_Hispanic.to_csv('HD_mortality_Hispanic_Pop.csv')

In [98]:
hd_mortality_Asian =clean_df[clean_df['Ethnicity']=='Asian and Pacific Islander']

In [99]:
hd_mortality_Asian.head()

,Year,State,"Cases per 100,000",Gender,Ethnicity,Y_lat,X_lon
534,2019,Alaska,173.0,Overall,Asian and Pacific Islander,64.3173,-152.5710
1758,2019,Alabama,171.3,Overall,Asian and Pacific Islander,32.7949,-86.8267
3126,2019,Arkansas,254.9,Overall,Asian and Pacific Islander,34.8982,-92.4340
3162,2019,American Samoa,NaN,Overall,Asian and Pacific Islander,-14.2766,-170.3670
3450,2019,Arizona,155.3,Overall,Asian and Pacific Islander,34.2921,-111.6640

In [100]:
hd_mortality_Asian.to_csv('HD_mortality_Asian_Pop.csv')

In [101]:
hd_mortality_Native =clean_df[clean_df['Ethnicity']=='American Indian and Alaskan Native']

In [102]:
hd_mortality_Native.head()

,Year,State,"Cases per 100,000",Gender,Ethnicity,Y_lat,X_lon
537,2019,Alaska,423.5,Overall,American Indian and Alaskan Native,64.3173,-152.5710
1761,2019,Alabama,133.6,Overall,American Indian and Alaskan Native,32.7949,-86.8267
3129,2019,Arkansas,123.6,Overall,American Indian and Alaskan Native,34.8982,-92.4340
3165,2019,American Samoa,NaN,Overall,American Indian and Alaskan Native,-14.2766,-170.3670
3453,2019,Arizona,268.1,Overall,American Indian and Alaskan Native,34.2921,-111.6640

In [103]:
hd_mortality_Native.to_csv('HD_mortality_Native_Pop.csv')

In [104]:
Female= filtered_by_state[filtered_by_state['Stratification1']=='Female']

In [105]:
Female

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Y_lat,X_lon
524,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,192.1,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Female,Race/Ethnicity,Overall,T2,2,64.3173,-152.571
527,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,177.0,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Female,Race/Ethnicity,White,T2,2,64.3173,-152.571
530,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,268.0,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Female,Race/Ethnicity,Black,T2,2,64.3173,-152.571
533,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,133.5,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Female,Race/Ethnicity,Hispanic,T2,2,64.3173,-152.571
536,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,136.6,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Female,Race/Ethnicity,Asian and Pacific Islander,T2,2,64.3173,-152.571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59081,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,231.5,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Female,Race/Ethnicity,White,T2,56,42.9984,-107.552
59084,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Female,Race/Ethnicity,Black,T2,56,42.9984,-107.552
59087,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,121.0,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Female,Race/Ethnicity,Hispanic,T2,56,42.9984,-107.552
59090,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Female,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.9984,-107.552
59093,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Female,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.9984,-107.552

In [106]:
columns_to_drop2 = ['GeographicLevel','LocationAbbr', 'DataSource', 'Data_Value_Footnote_Symbol','Data_Value_Footnote','StratificationCategory1','StratificationCategory2','TopicID','LocationID','Data_Value_Type','Data_Value_Unit','Class','Topic','Y_lat','X_lon']

In [107]:
clean_df2=Female.drop(columns=columns_to_drop2)

In [108]:
clean_df2

,Year,LocationDesc,Data_Value,Stratification1,Stratification2
524,2019,Alaska,192.1,Female,Overall
527,2019,Alaska,177.0,Female,White
530,2019,Alaska,268.0,Female,Black
533,2019,Alaska,133.5,Female,Hispanic
536,2019,Alaska,136.6,Female,Asian and Pacific Islander
...,...,...,...,...,...
59081,2019,Wyoming,231.5,Female,White
59084,2019,Wyoming,NaN,Female,Black
59087,2019,Wyoming,121.0,Female,Hispanic
59090,2019,Wyoming,NaN,Female,Asian and Pacific Islander
59093,2019,Wyoming,NaN,Female,American Indian and Alaskan Native

In [109]:
clean_df3= clean_df2[clean_df2['Stratification2']=='Overall']
#filter data so that ethnicity is not a factor

In [110]:
clean_df3

,Year,LocationDesc,Data_Value,Stratification1,Stratification2
524,2019,Alaska,192.1,Female,Overall
1748,2019,Alabama,345.9,Female,Overall
3116,2019,Arkansas,338.1,Female,Overall
3152,2019,American Samoa,NaN,Female,Overall
3440,2019,Arizona,208.2,Female,Overall
4502,2019,California,207.7,Female,Overall
5672,2019,Colorado,195.3,Female,Overall
5834,2019,Connecticut,215.5,Female,Overall
5870,2019,District of Columbia,289.4,Female,Overall
5942,2019,Delaware,238.5,Female,Overall
7166,2019,Florida,210.2,Female,Overall
10046,2019,Georgia,271.5,Female,Overall
10082,2019,Guam,420.6,Female,Overall
10190,2019,Hawaii,163.4,Female,Overall
11990,2019,Iowa,254.5,Female,Overall
12800,2019,Idaho,236.2,Female,Overall
14654,2019,Illinois,248.9,Female,Overall
16328,2019,Indiana,273.1,Female,Overall
18236,2019,Kansas,248.0,Female,Overall
20414,2019,Kentucky,297.8,Female,Overall
21584,2019,Louisiana,325.0,Female,Overall
21854,2019,Massachusetts,191.2,Female,Overall
22304,2019,Maryland,247.2,Female,Overall
22610,2019,Maine,213.1,Female,Overall
24122,2019,Michigan,303.3,Female,Overall
25706,2019,Minnesota,175.9,Female,Overall
27794,2019,Missouri,285.1,Female,Overall
27830,2019,Northern Mariana Islands,279.2,Female,Overall
29324,2019,Mississippi,348.8,Female,Overall
30350,2019,Montana,237.6,Female,Overall
32168,2019,North Carolina,233.7,Female,Overall
33140,2019,North Dakota,208.9,Female,Overall
34832,2019,Nebraska,218.1,Female,Overall
35030,2019,New Hampshire,213.4,Female,Overall
35426,2019,New Jersey,248.8,Female,Overall
36038,2019,New Mexico,227.9,Female,Overall
36362,2019,Nevada,290.1,Female,Overall
37496,2019,New York,270.3,Female,Overall
39098,2019,Ohio,293.0,Female,Overall
40502,2019,Oklahoma,362.0,Female,Overall
41168,2019,Oregon,196.1,Female,Overall
42392,2019,Pennsylvania,265.6,Female,Overall
43814,2019,Puerto Rico,153.2,Female,Overall
43922,2019,Rhode Island,234.6,Female,Overall
44768,2019,South Carolina,250.0,Female,Overall
45974,2019,South Dakota,222.6,Female,Overall
47702,2019,Tennessee,307.3,Female,Overall
52292,2019,Texas,253.6,Female,Overall
52850,2019,Utah,250.1,Female,Overall
55262,2019,Virginia,228.3,Female,Overall
55334,2019,Virgin Islands of the U.S.,97.7,Female,Overall
55604,2019,Vermont,229.1,Female,Overall
56324,2019,Washington,200.0,Female,Overall
57638,2019,Wisconsin,240.2,Female,Overall
58646,2019,West Virginia,303.5,Female,Overall
59078,2019,Wyoming,225.1,Female,Overall

In [121]:
df4=clean_df3.drop(['Stratification2'], axis = 1)

In [122]:
df4

       Year                       State  Cases per 100,000  Gender
524    2019                      Alaska              192.1  Female
1748   2019                     Alabama              345.9  Female
3116   2019                    Arkansas              338.1  Female
3152   2019              American Samoa                NaN  Female
3440   2019                     Arizona              208.2  Female
4502   2019                  California              207.7  Female
5672   2019                    Colorado              195.3  Female
5834   2019                 Connecticut              215.5  Female
5870   2019        District of Columbia              289.4  Female
5942   2019                    Delaware              238.5  Female
7166   2019                     Florida              210.2  Female
10046  2019                     Georgia              271.5  Female
10082  2019                        Guam              420.6  Female
10190  2019                      Hawaii              163.4  Female
11990  2019                        Iowa              254.5  Female
12800  2019                       Idaho              236.2  Female
14654  2019                    Illinois              248.9  Female
16328  2019                     Indiana              273.1  Female
18236  2019                      Kansas              248.0  Female
20414  2019                    Kentucky              297.8  Female
21584  2019                   Louisiana              325.0  Female
21854  2019               Massachusetts              191.2  Female
22304  2019                    Maryland              247.2  Female
22610  2019                       Maine              213.1  Female
24122  2019                    Michigan              303.3  Female
25706  2019                   Minnesota              175.9  Female
27794  2019                    Missouri              285.1  Female
27830  2019    Northern Mariana Islands              279.2  Female
29324  2019                 Mississippi              348.8  Female
30350  2019                     Montana              237.6  Female
32168  2019              North Carolina              233.7  Female
33140  2019                North Dakota              208.9  Female
34832  2019                    Nebraska              218.1  Female
35030  2019               New Hampshire              213.4  Female
35426  2019                  New Jersey              248.8  Female
36038  2019                  New Mexico              227.9  Female
36362  2019                      Nevada              290.1  Female
37496  2019                    New York              270.3  Female
39098  2019                        Ohio              293.0  Female
40502  2019                    Oklahoma              362.0  Female
41168  2019                      Oregon              196.1  Female
42392  2019                Pennsylvania              265.6  Female
43814  2019                 Puerto Rico              153.2  Female
43922  2019                Rhode Island              234.6  Female
44768  2019              South Carolina              250.0  Female
45974  2019                South Dakota              222.6  Female
47702  2019                   Tennessee              307.3  Female
52292  2019                       Texas              253.6  Female
52850  2019                        Utah              250.1  Female
55262  2019                    Virginia              228.3  Female
55334  2019  Virgin Islands of the U.S.               97.7  Female
55604  2019                     Vermont              229.1  Female
56324  2019                  Washington              200.0  Female
57638  2019                   Wisconsin              240.2  Female
58646  2019               West Virginia              303.5  Female
59078  2019                     Wyoming              225.1  Female

In [144]:
rename_columns5={'Stratification1': 'Gender', 'LocationDesc':'State','Data_Value':'Cases per 100,000'}

In [145]:
df4.rename(columns=rename_columns5, inplace=True)

In [146]:
df4.head()
#heart disease mortality amongst Female Population

      Year           State  Cases per 100,000  Gender
524   2019          Alaska              192.1  Female
1748  2019         Alabama              345.9  Female
3116  2019        Arkansas              338.1  Female
3152  2019  American Samoa                NaN  Female
3440  2019         Arizona              208.2  Female

In [147]:
df4.to_csv('HD_mortality_Female_Pop.csv')

In [148]:
Male= filtered_by_state[filtered_by_state['Stratification1']=='Male']

In [149]:
Male

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Y_lat,X_lon
523,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,327.1,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,Overall,T2,2,64.3173,-152.571
526,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,300.8,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,White,T2,2,64.3173,-152.571
529,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,309.9,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,Black,T2,2,64.3173,-152.571
532,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,191.5,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,Hispanic,T2,2,64.3173,-152.571
535,2019,AK,Alaska,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,219.6,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,Asian and Pacific Islander,T2,2,64.3173,-152.571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59080,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,389.6,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,White,T2,56,42.9984,-107.552
59083,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Male,Race/Ethnicity,Black,T2,56,42.9984,-107.552
59086,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,287.0,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,Hispanic,T2,56,42.9984,-107.552
59089,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, 3-year Average Rate",~,Insufficient Data,Gender,Male,Race/Ethnicity,Asian and Pacific Islander,T2,56,42.9984,-107.552
59092,2019,WY,Wyoming,State,NVSS,Cardiovascular Diseases,Heart Disease Mortality,432.2,"per 100,000 population","Age-adjusted, 3-year Average Rate",NaN,NaN,Gender,Male,Race/Ethnicity,American Indian and Alaskan Native,T2,56,42.9984,-107.552

In [150]:
columns_to_drop3 = ['GeographicLevel','LocationAbbr', 'DataSource', 'Data_Value_Footnote_Symbol','Data_Value_Footnote','StratificationCategory1','StratificationCategory2','TopicID','LocationID','Data_Value_Type','Data_Value_Unit','Class','Topic','Y_lat','X_lon']

In [151]:
clean_df4=Male.drop(columns=columns_to_drop3)

In [152]:
clean_df4

,Year,LocationDesc,Data_Value,Stratification1,Stratification2
523,2019,Alaska,327.1,Male,Overall
526,2019,Alaska,300.8,Male,White
529,2019,Alaska,309.9,Male,Black
532,2019,Alaska,191.5,Male,Hispanic
535,2019,Alaska,219.6,Male,Asian and Pacific Islander
...,...,...,...,...,...
59080,2019,Wyoming,389.6,Male,White
59083,2019,Wyoming,NaN,Male,Black
59086,2019,Wyoming,287.0,Male,Hispanic
59089,2019,Wyoming,NaN,Male,Asian and Pacific Islander
59092,2019,Wyoming,432.2,Male,American Indian and Alaskan Native

In [153]:
clean_df5= clean_df4[clean_df4['Stratification2']=='Overall']
#filter data so that ethnicity is not a factor

In [154]:
clean_df5

,Year,LocationDesc,Data_Value,Stratification1,Stratification2
523,2019,Alaska,327.1,Male,Overall
1747,2019,Alabama,554.0,Male,Overall
3115,2019,Arkansas,540.8,Male,Overall
3151,2019,American Samoa,NaN,Male,Overall
3439,2019,Arizona,336.4,Male,Overall
4501,2019,California,350.8,Male,Overall
5671,2019,Colorado,305.3,Male,Overall
5833,2019,Connecticut,348.0,Male,Overall
5869,2019,District of Columbia,433.9,Male,Overall
5941,2019,Delaware,383.8,Male,Overall
7165,2019,Florida,350.9,Male,Overall
10045,2019,Georgia,437.9,Male,Overall
10081,2019,Guam,719.6,Male,Overall
10189,2019,Hawaii,325.5,Male,Overall
11989,2019,Iowa,423.0,Male,Overall
12799,2019,Idaho,367.1,Male,Overall
14653,2019,Illinois,413.1,Male,Overall
16327,2019,Indiana,447.8,Male,Overall
18235,2019,Kansas,404.2,Male,Overall
20413,2019,Kentucky,493.7,Male,Overall
21583,2019,Louisiana,523.0,Male,Overall
21853,2019,Massachusetts,326.9,Male,Overall
22303,2019,Maryland,403.6,Male,Overall
22609,2019,Maine,366.1,Male,Overall
24121,2019,Michigan,482.5,Male,Overall
25705,2019,Minnesota,293.6,Male,Overall
27793,2019,Missouri,471.8,Male,Overall
27829,2019,Northern Mariana Islands,365.9,Male,Overall
29323,2019,Mississippi,571.6,Male,Overall
30349,2019,Montana,394.2,Male,Overall
32167,2019,North Carolina,386.6,Male,Overall
33139,2019,North Dakota,362.7,Male,Overall
34831,2019,Nebraska,355.9,Male,Overall
35029,2019,New Hampshire,372.1,Male,Overall
35425,2019,New Jersey,401.6,Male,Overall
36037,2019,New Mexico,377.3,Male,Overall
36361,2019,Nevada,482.9,Male,Overall
37495,2019,New York,426.0,Male,Overall
39097,2019,Ohio,472.8,Male,Overall
40501,2019,Oklahoma,566.5,Male,Overall
41167,2019,Oregon,325.0,Male,Overall
42391,2019,Pennsylvania,432.9,Male,Overall
43813,2019,Puerto Rico,273.0,Male,Overall
43921,2019,Rhode Island,397.4,Male,Overall
44767,2019,South Carolina,413.9,Male,Overall
45973,2019,South Dakota,395.3,Male,Overall
47701,2019,Tennessee,508.7,Male,Overall
52291,2019,Texas,417.4,Male,Overall
52849,2019,Utah,334.5,Male,Overall
55261,2019,Virginia,365.8,Male,Overall
55333,2019,Virgin Islands of the U.S.,134.8,Male,Overall
55603,2019,Vermont,394.8,Male,Overall
56323,2019,Washington,336.7,Male,Overall
57637,2019,Wisconsin,394.4,Male,Overall
58645,2019,West Virginia,474.2,Male,Overall
59077,2019,Wyoming,382.7,Male,Overall

In [155]:
df6=clean_df5.drop(['Stratification2'], axis = 1)

In [158]:
df6.head()

      Year    LocationDesc  Data_Value Stratification1
523   2019          Alaska       327.1            Male
1747  2019         Alabama       554.0            Male
3115  2019        Arkansas       540.8            Male
3151  2019  American Samoa         NaN            Male
3439  2019         Arizona       336.4            Male

In [159]:
rename_columns6={'Stratification1': 'Gender','LocationDesc':'State','Data_Value':'Cases per 100,000'}

In [160]:
df6.rename(columns=rename_columns6, inplace=True)

In [163]:
df6.head()

      Year           State  Cases per 100,000 Gender
523   2019          Alaska              327.1   Male
1747  2019         Alabama              554.0   Male
3115  2019        Arkansas              540.8   Male
3151  2019  American Samoa                NaN   Male
3439  2019         Arizona              336.4   Male

In [164]:
df6.to_csv('HD_mortality_Male_Pop.csv')